.titulo1{
  color: #007ec1;
  text-align: center;
  display: block;
}

.Boton1{
  background-color:#007ec1;
  color:white;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Logo1{
  height: 55vh;
  width: 55vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
