.media {
  border-top: 1px solid #bfbfbf;
  padding-top: 20px;
}

.media img {
  margin-right: 20px;
}

.media .nombre {
  color: #4b65d1;
  margin-bottom: 0;
}

.media .nombre span {
  font-size: 12px;
  color: #464646;
  margin-left: 10px;
}

.media .comentario {
  margin-top: 10px;
}
