.Inicio2{
  margin-left: auto;
  margin-right: auto;
}

.Logo2{
  width: 70vh;
  height: 70vh;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.Boton3 {
  background-color: #007ec1;
  color: white;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2vh;
  margin-bottom: 2vh;
  width: 50vh;
  font-size: 20px;

}