.App {
  font-family: sans-serif;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.295)
}



.divpadre {
  height: 100vh;
  position: relative;
  
}

.divhijo {
  
  margin: 0;
  position: absolute;
  margin-top: 5vh;
  left: 50%;
  transform: translate(-50%, -50%);
}

.eslogan {
  margin: 0;
  position: absolute;
  margin-top: -115vh;
  left: 50%;
  right: -25%;
  transform: translate(-50%, -50%);
 
  
  
}

.parrafo{
margin-left: 7px;
font-weight: bold;
color: rgb(0, 0, 0)
}


.Logo2{

margin-top: 15vh;
margin-left: 10px;
transform: translate(3%, -0%);
  
  
  
  
  
}
