.titulo2 {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #007ec1;
}

.Descripcion {
  text-align: center;
  font-size: 25px;
  display: block;
  margin-left: 25px;
  margin-right: 25px;
  margin-top: 50px;
}

.navbar {
  background-color: #007ec1;
}
